
.flex-container {
    display: flex; /* Используем Flexbox */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
}

.flex-item {
    flex: 1 1 45%; /* Каждый элемент занимает 45% ширины контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    margin: 10px; /* Отступы между элементами */
    
}