@font-face {
font-family: "Finder";
src: url("./fonts/Finder.ttf") format("truetype");
font-style: normal;
font-weight: bold;
}

body {
    font-family: "Finder";
    height: 100%;
    margin: 40px!important;
}

.nav_buttons {
    width: 100px;
    display: inline-block;
    margin: 5px;
}

.btn {
    font-size: 1em!important;
}
.form-signin {
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    width: 400px;
    position: fixed;

}

.flex-container {
    display: block; /* Используем Flexbox */
}

.flex-item {
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    margin: 30px;
    margin-top: 30px; /* Отступы между элементами */
    flex: 1 1 45%; /* Каждый элемент занимает 45% ширины контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    margin: 10px; /* Отступы между элементами */
}

main {
    max-width: 1440px;
    margin: auto;
}



.mesg {
    animation: fadeAnimation 4s forwards; /* Анимация */
}
@keyframes fadeAnimation {
            0% {
                opacity: 1; /* Начальное состояние */

            }
            100% {
                opacity: 0; /* Конечное состояние */
                display: none;
            }
        }

.input-group-text {
    width: 150px;
}

.input_order {
    flex: 0 0 50px!important;
}

.messages {
    position: absolute;
    transform: translate(-50%, 0);
    left:50%;
}

#order_form {
    right:0%;
    background-color: black;
    transform: translate(0, -50%);
    top:50%;
}

.navigator {
    display: flex;
    flex-direction: column;
}