{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<main class="form-signin">
  <form method="POST" autocomplete="off"  id="loginForm">
    {% csrf_token %}
    <div class="text-center">
        <img src="static/images/cups.jpg" alt="" width="72" height="72" class="rounded-pill">
    </div>
    <h1 class="h3 mb-3 fw-normal text-center">авторизация</h1>

    {{login_form|crispy}}

    <button class="w-100 btn btn-lg btn-primary" type="submit">вход</button>
    <button class="w-100 btn btn-lg btn-warning" type="reset" id="reset">сброс</button>
  </form>
</main>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
      const btn = document.getElementById('reset');
      btn.click();
    });
</script>
{% endblock %}