{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
<header class="d-flex justify-content-between mb-4 align-items-center">
  <div class="m-4">
    <img src="/static/images/cups.PNG" alt="" width="96" height="96" class="rounded-pill">
  </div>
  <div class="btn-group m-2 mb-2" role="group" aria-label="Basic example" id="role">
    <a href="{% url 'main' 'no_alco' %}" class="btn btn-outline-light">без алко</a>
    <a href="{% url 'main' 'alco' %}" class="btn btn-outline-light">алко</a>
  </div>
  <div class="m-4 navigator">
    <a href="{% url 'logout' %}" class="btn btn-outline-light nav_buttons">выход</a>
    {% if request.user.is_staff %}
    <a href="{% url 'report' %}" class="btn btn-outline-light nav_buttons">отчетность</a>
    {% endif %}
  </div>
</header>
<hr class="fw-bold" style="color:antiquewhite;">
<div class="flex-container">
    {% for group in groups %}
    
      <div class="flex-item">
        {% if group.group_products.all %}  
          <div class="text-uppercase border-top rounded-pill">
            <h2 class="text-center">{{ group.name }}</h2>
          </div>
        {% endif %} 
        {% regroup group.group_products.all by name as group_list %}
          {% for group in group_list %}
          <div class="justify-content-between d-flex p-2 border-bottom">
            <div class="fw-bold">
              <p class="text-uppercase" title="{{group.list.0.description}}" data-toggle="tooltip">{{group.grouper}}</p>
            </div>
            <div class="">
              {% for product in group.list %}
                <button value="{{product.id}}" class="order_btn btn btn-sm btn-outline-light rounded-pill p-2 fw-bold" data-toggle="tooltip" title="{{product.size}}">{{product.price}}</button> 
              {% endfor %}
            </div>
            </div>
          {% endfor %}
        </div>
    {% endfor %}
</div>
<div class="d-flex position-fixed rounded-4" id="order_form">
  <div class="shower">
    <button type="button" class="btn btn-success h-100" style="min-height: 96px;">
      <i class="bi bi-eye-fill"></i>
    </button>
  </div>
  <form id="order" class="d-none p-4" method="POST">
  {% csrf_token %}
  <div id="order_inner">
  </div>

  <button type="submit" class="btn btn-outline-warning w-100 mb-3">к оплате: <span id="orderSum"></span></button>
</form>
</div>
<script src="{% static 'main.js' %}" defer></script>
{% endblock %}