{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<header class="d-flex justify-content-between mb-4 align-items-center">
  <div class="m-4">
    <img src="static/images/cups.PNG" alt="" width="96" height="96" class="rounded-pill">
  </div>
  <div class="m-4 navigator">
    <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-light nav_buttons">выход</a>
    {% if request.user.is_staff %}
    <a href="{% url 'report' %}" class="btn btn-sm btn-outline-light nav_buttons">отчетность</a>
    {% endif %}
  </div>
</header>
<div class="flex-container">
    {% for group in groups %}
    
      <div class="flex-item">
        {% if group.group_products.all %}  
          <div class="text-uppercase border-top rounded-pill">
            <h2 class="text-center">{{ group.name }}</h2>
          </div>
        {% endif %} 
        {% regroup group.group_products.all by name as group_list %}
          {% for group in group_list %}
          <div class="justify-content-between d-flex p-2 border-bottom">
            <div class="fw-bold">
              <p>{{group.grouper}}</p>
            </div>
            <div class="">
              {% for product in group.list %}
                <button value="{{product.id}}" class="order_btn btn btn-sm btn-outline-light rounded-pill p-2 fw-bold" data-toggle="tooltip" title="{{product.size}}">{{product.price}}</button> 
              {% endfor %}
            </div>
            </div>
          {% endfor %}
        </div>
    {% endfor %}
</div>
<div class="d-flex position-fixed rounded-4" id="order_form">
  <div class="shower">
    <button type="button" class="btn btn-success h-100">
      <i class="bi bi-eye-fill"></i>
    </button>
  </div>
  <form id="order" class="d-none p-4" method="POST">
  {% csrf_token %}
  <div id="order_inner">
  </div>
  <button type="submit" class="btn btn-outline-warning w-100 mb-3">сформировать заказ</button>
</form>
</div>
<script>
  const buttons = document.getElementsByClassName('order_btn');
  Array.from(buttons).forEach(btn => {
    btn.addEventListener('click', function addOrder() {
      const productName = btn.value;
      const quantity = prompt('количество?', 1);
      if (quantity !== null )
      fetch('/create-order/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': getCookie('csrftoken') // Получаем CSRF-токен
        },
        body: `product_name=${encodeURIComponent(productName)}&quantity=${quantity}`
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          const order = document.getElementById('order_inner');
          const order_main = document.getElementById('order');
          // order_main.classList.remove('d-none');
          // alert(`Заказ добавлен! ${data.product.name} ${quantity} шт.`);
          // Создаем новый элемент div
        const newOrderItem = document.createElement('div');
        newOrderItem.className = 'input-group input-group-sm mb-3';

        // Создаем элемент span
        const productName = document.createElement('span');
        productName.className = 'input-group-text fw-bold';
        productName.id = `inputGroup_${data.product.id}`;
        productName.textContent = `${data.product.name} (${data.product.size})`;

        // Создаем элемент input
        const quantityInput = document.createElement('input');
        quantityInput.type = 'number';
        quantityInput.className = 'form-control input_order';
        quantityInput.setAttribute('aria-label', 'Sizing example input');
        quantityInput.setAttribute('aria-describedby', `inputGroup_${data.product.id}`);
        quantityInput.setAttribute('min',1);
        quantityInput.name = 'quantity';
        quantityInput.value = quantity;
        
        const hiddenIdInput = document.createElement('input');
        hiddenIdInput.type = 'hidden';
        hiddenIdInput.className = 'form-control input_order';
        hiddenIdInput.setAttribute('aria-label', 'Sizing example input');
        hiddenIdInput.setAttribute('aria-describedby', `inputGroup_${data.product.id}`);
        hiddenIdInput.name = 'product_id';
        hiddenIdInput.value = data.product.id;
        // Создаем кнопку удаления
        const deleteButton = document.createElement('button');
        deleteButton.className = 'btn btn-sm btn-danger';
        deleteButton.textContent = '✕';
        
        // Добавляем обработчик события для кнопки удаления
        deleteButton.addEventListener('click', () => {
            order.removeChild(newOrderItem);
            const input_groups = document.getElementsByClassName('input-group');
            if (input_groups.length === 0) order_main.classList.add('d-none');
        });

        // Добавляем элементы в новый div
        newOrderItem.appendChild(productName);
        newOrderItem.appendChild(quantityInput);
        newOrderItem.appendChild(hiddenIdInput);
        newOrderItem.appendChild(deleteButton); // Добавляем кнопку удаления

        // Добавляем новый div в order
        order.appendChild(newOrderItem);
        } else {
          alert(`Ошибка при создании заказа.`);
        }
      })
      .catch(error => {
        console.error('Ошибка:', error);
        document.getElementById('result').innerHTML = 'Ошибка сети.';
      });
    })
  });

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Проверяем, начинается ли cookie с нужного имени
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  toggleBtn = document.querySelector('.shower > button');
  toggleBtn.addEventListener('click', function () {
    const order_main = document.getElementById('order');
    const icon = toggleBtn.querySelector('i');
    if (order_main.classList.contains('d-none')) {
            order_main.classList.remove('d-none'); // Убираем класс, чтобы показать элемент
            order_main.classList.add('d-block'); // Добавляем класс, чтобы установить display: block
            icon.classList.remove('bi-eye-fill');
            icon.classList.add('bi-eye-slash-fill');
        } else {
            order_main.classList.remove('d-block'); // Убираем класс, чтобы скрыть элемент
            order_main.classList.add('d-none'); // Добавляем класс, чтобы установить display: none
            icon.classList.add('bi-eye-fill');
            icon.classList.remove('bi-eye-slash-fill');
        }
  })
</script>
{% endblock %}